# Dependencies
node_modules/
yarn.lock
package-lock.json

# Compiled files
*.log

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swo
*.swp

# Miscellaneous
.DS_Store
Thumbs.db
.cache/

coverage/